@charset "utf-8";

/* common 글자 크기 */

h1 {
  font-size: 48px;
  line-height: 150%;
  color: rgb(17, 21, 24);
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  /* margin-top: 1.8rem; */
  line-height: 150%;
}

h3.card {
  font-size: 2rem;
}

h4 {
  color: rgb(17, 21, 24);
  font-size: 16px;
  line-height: 100%;
}

body {
  font-family: "Spoqa Han Sans Neo", "Noto Sans KR", "Malgun Gothic", sans-serif !important;
  /* 폰트 강제 적용 */
  /* line-height: 1.5; */
  font-size: 1rem;
  overflow-x: hidden;
  letter-spacing: -0.5px;
}

/* shinhan-blue color : rgb(53, 108, 255); */

/* style 기본 세팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

li a {
  align-items: center;
  height: 8rem;
  font-size: 1.2rem;
  font-weight: 700;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(17, 21, 24);
}

/* ha */

.hd {
  /* 브랜드 로고 부분 */
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
}

.logo {
  /* 오른쪽 최상단 로그인메뉴 */
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.logo img {
  /* 브랜드 로고 이미지 크기 */
  height: 35px;
  width: auto;
}

.databada {
  /* 로그인 메뉴 데이터바다 버튼 */
  background-color: rgb(53, 108, 255);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 20px;
  border: none;
  margin-right: 0;
}

.hd_login {
  /* 로그인 메뉴 오른쪽 정렬 */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  height: 80px;
}

.login {
  /* 로그인 메뉴 세로 센터 정렬 */
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.login li a {
  /* 로그인 메뉴 글자 크기 */
  font-size: 14px;
  font-weight: 600;
}

.hd_login,
.hd {
  /* 데이터바다 버튼 오른쪽 정렬 */
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.menu > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sv_menu {
  /* 서비스 메뉴 */
  display: flex;
  align-items: center;
  gap: 40px;
  height: 100%;
  padding: 0;
  margin: 0;
}

.all_header {
  /* background-color: palevioletred; */
  max-width: 1220px;
  margin: 0 auto;
  padding: 0.4rem;
  justify-content: center;
  position: relative;
}

.util {
  display: flex;
  align-items: center;
  gap: 20px;
}

.util img {
  height: 30px;
  width: auto;
}

@media (max-width: 960px) {
  .sv_menu,
  .login,
  .databada {
    display: none !important;
  }
}

/* lee */
.form-control::placeholder {
  color: #6c757d;
  opacity: 0.1;
}

.hashtag {
  font-size: 16px;
}

.shinhan-bg {
  background-color: #356cff !important;
}
/* 이거 공용으로 쓰면 좋을 것 같아요 */
.cardFont {
  font-weight: bold;
}

.cardFont2 {
  font-size: 18px;
}

.w-50 {
  width: 220px;
}
.service .imgIcon {
  width: 120px;
}

.search .searchIcon {
  width: 32px;
}

/* 20px 24px 18px */
@media (max-width: 1399px) {
  .searFont {
    font-size: 18px;
    color: #cccccc !important;
  }
}

@media (max-width: 1199px) {
  .searFont {
    font-size: 18px;
  }

  .cardFont2 {
    font-size: 16px;
  }
  /* 18px 22px 16px */
}

@media (max-width: 960px) {
  .input-group {
    height: 48px;
  }

  .searFont {
    font-size: 16px;
  }

  .hashtag {
    font-size: 14px;
  }

  .cardFont2 {
    font-size: 11px;
  }
  /* 폰트 만들어달라고 요청하기 */

  .service .imgIcon {
    width: 32%;
  }

  .search .searchIcon {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .hashtag {
    font-size: 14px;
  }

  .cardFont2 {
    font-size: 11px;
  }

  .service .imgIcon {
    width: 35%;
  }

  .search .searchIcon {
    width: 24px;
  }
}

@media (max-width: 575px) {
  .hashtag {
    font-size: 14px;
  }

  .cardFont2 {
    font-size: 11px;
  }
  /* 14px, 16px 11px */
  .service .imgIcon {
    width: 35%;
  }

  .search .searchIcon {
    width: 24px;
  }
}

/* ko */
