@charset "utf-8";

/* common 글자 크기 */

h1 {
  font-size: 48px;
  line-height: 150%;
  color: rgb(17, 21, 24);
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  /* margin-top: 1.8rem; */
  line-height: 150%;
}

h4 {
  color: rgb(17, 21, 24);
  font-size: 16px;
  line-height: 100%;
}

body {
  font-family: "Spoqa Han Sans Neo", "Noto Sans KR", "Malgun Gothic", sans-serif !important;
  /* 폰트 강제 적용 */
  /* line-height: 1.5; */
  font-size: 1rem;
  overflow-x: hidden;
  letter-spacing: -0.5px;
}

/* shinhan-blue color : rgb(53, 108, 255); */

/* style 기본 세팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

li a {
  align-items: center;
  /* height: 8rem; */
  font-size: 1.2rem;
  font-weight: 700;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(17, 21, 24);
}

/* ha */

.hd {
  /* 브랜드 로고 부분 */
  width: 100%;
  /* max-width: 120rem; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
}

.logo {
  /* 오른쪽 최상단 로그인메뉴 */
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.logo img {
  /* 브랜드 로고 이미지 크기 */
  height: 35px;
  width: auto;
}

.databada {
  /* 로그인 메뉴 데이터바다 버튼 */
  background-color: rgb(53, 108, 255);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 20px;
  border: none;
  margin-right: 0;
}

.hd_login {
  /* 로그인 메뉴 오른쪽 정렬 */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  height: 80px;
}

.login {
  /* 로그인 메뉴 세로 센터 정렬 */
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.login li a {
  /* 로그인 메뉴 글자 크기 */
  font-size: 14px;
  font-weight: 600;
}

.hd_login,
.hd {
  /* 데이터바다 버튼 오른쪽 정렬 */
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.menu > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.sv_menu {
  /* 서비스 메뉴 */
  /* display: flex; */
  align-items: center;
  gap: 40px;
  /* height: 100%; */
  padding: 0;
  margin: 0;
}

.sv_menu li {
  position: relative;
}

.sv_menu a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: black;
  padding: 10px 15px;
  display: block;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  width: auto;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-menu a {
  padding: 12px;
  text-align: center;
  color: black;
  font-size: 14px;
  /* transition: background 0.2s; */
}

.dropdown:hover .dropdown-menu {
  display: block;
  text-align: center;
}

.dropdown-menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.dropdown-menu ul li {
  display: inline-block;
}

.all_header {
  /* background-color: palevioletred; */
  max-width: 1220px;
  margin: 0 auto;
  padding: 0.4rem;
  justify-content: center;
  position: relative;
}

.util {
  display: flex;
  align-items: center;
  gap: 20px;
}

.util img {
  height: 30px;
  width: auto;
}

@media (max-width: 994px) {
  .sv_menu {
    flex-direction: row;
    justify-content: center;
  }

  .sv_menu,
  .login,
  .databada {
    display: none !important;
  }
}

.dmenu {
  display: flex;
}

/* ko */
/************** 공통처리되면 좋을 것들 END **************/
/* a:link,
a:visited {
  text-decoration: none;
  color: black;
} */
/************** 공통처리되면 좋을 것들 END **************/

/************** SWIPER Start **************/

.main-slide-Wraper {
  margin: 0;
  padding: 0;
  /* width: 800px;
  height: 600px; */
}

.swiper {
  width: 95%;
  height: 95%;
}

.swiper-slide {
  padding: 20px;

  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-slide-Wraper .back {
  background: rgb(232, 233, 236);
  background-position: right;
  border-radius: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-slide-Wraper .back:nth-of-type(1) {
  background-image: url(../image/header1.png);
}
.main-slide-Wraper .back:nth-of-type(2) {
  background-image: url(../image/header2.png);
}

/************** SWIPER END **************/

/*
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
*/
.main-wrap .visual-layout-area .my-login-wrap .notice-box {
  margin-top: 20px;
}

.visual-layout-area * {
  /* border: 1px dotted red; */
}

.r-card-body {
  background: #f7f8fc;
  width: 100%;
  height: 100%;
}

.visual-layout-area {
  padding: 20px;
  margin: 20px;
}

.swiper .mySwiper {
  padding: 100px;
}

.main-wording {
  font-size: 34px;
  /* font-weight: bolder; */
  font-weight: 400;
  font-family: Spoqa Han Sans Neo, Noto Sans KR, Malgun Gothic, 맑은 고딕, 돋움,
    dotum, Apple SD Gothic Neo, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  color: #111518;
  line-height: 1.5;
  letter-spacing: normal;
}

.indicator-wrap {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.main-right-box {
  text-align: center;
  align-items: center;
  font-size: 15px;
}

.outlogin-box {
  padding: 20px;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.notice-banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #cee2ff;
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.report-roll-box {
  width: 100%;
}

.main-login-photo {
  width: 46px;
  height: 46px;
}

/* 아래쪽 숨겨진 로그인 버튼과 이름 구분 필요*/

.btn-rlogin {
  width: 90%;
  height: 48px;
  padding: 0 12px;
  font-weight: bolder;
  border-radius: 10px;
  background-color: #356cff;
  color: #fff;
}

.report-roll-box {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-title {
  font-size: 10px;
  color: #153b75;
  font-weight: 700;
}

.r-card-title {
  margin-top: 0.8rem;
  color: #383b5a;
  font-size: 15px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.45%;
}

.r-card-flag {
  background: #111518;
  color: white;
  border-radius: 5px 5px 0 0;
  font-weight: bolder;
  font-size: 13.5px;
  padding: 3px 13px 3px 13px;
}

.swiper-slide .text {
  font-size: 17px;
  color: #111518;
  font-weight: bold;
}
.swiper-slide .date {
  color: #666666;
  font-size: 13.5px;
}

/* lee */
.shinhan-bg {
  background-color: #356cff !important;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 0.1;
}

.search .hashtag {
  font-size: 16px;
}

.search .searchIcon {
  width: 32px;
}

.service .card-stit {
  font-size: 20px;
}

.service .card-title {
  font-size: 24px;
}

.service .span20 {
  font-size: 20px;
}

.cardFont2 {
  font-size: 18px;
}

.w-50 {
  width: 220px;
}
.service .imgIcon {
  width: 120px;
}

/* 20px 24px 18px */
@media (max-width: 1399px) {
  .h3-card {
    font-size: 20px;
  }
}

@media (max-width: 1199px) {
  .searFont {
    font-size: 18px;
  }

  .cardFont2 {
    font-size: 16px;
  }
  /* 18px 22px 16px */
}

@media (max-width: 960px) {
  .input-group {
    height: 48px;
  }

  .searFont {
    font-size: 16px;
  }

  .hashtag {
    font-size: 14px;
  }

  .cardFont2 {
    font-size: 11px;
  }
  /* 폰트 만들어달라고 요청하기 */

  .service .imgIcon {
    width: 32%;
  }

  .search .searchIcon {
    width: 30%;
  }

  .service .card-stit {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .hashtag {
    font-size: 14px;
  }

  .cardFont2 {
    font-size: 11px;
  }

  .service .imgIcon {
    width: 35%;
  }

  .search .searchIcon {
    width: 24px;
  }

  .service .card-stit {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  h3.card {
    font-size: 14px;
  }

  .hashtag {
    font-size: 14px;
  }

  .cardFont2 {
    font-size: 11px;
  }
  /* 14px, 16px 11px */
  .service .imgIcon {
    width: 35%;
  }

  .search .searchIcon {
    width: 24px;
  }
}
